*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-image: url(https://i.pinimg.com/originals/96/74/a3/9674a3ff21e02af82daa565e5773fa56.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 42.5vw;
}
